@mixin mobile {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 576px) and (max-width: 1200px) {
    @content;
  }
}

@mixin maxResponsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "màn hình chưa khai báo";
  }
}
@mixin minResponsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "màn hình chưa khai báo";
  }
}
