a {
  text-decoration: none;
}

li {
  list-style: none;
}

#menu {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.padding-bottom {
  border-bottom: 1px solid #ddd;
}

//   white-space: nowrap;

//   navlink
.nav--item {
  position: relative;
  line-height: 1.5em;
  //   list-style: none;
  .nav--link {
    font-size: 12px;
    display: block;
    width: 100%;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in-out;
    &:hover {
      color: orange;
      cursor: pointer;
    }

    &:hover .hoverActive {
      transform: rotate(180deg);
      transition: all 0.25s ease;
    }
  }
  &:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    top: 110%;
    transition: all 0.25s ease;
  }
  .sub-menu {
    position: absolute;
    z-index: 100;
    top: 210%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    .sub-list {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      .more-menu {
        position: relative;
        border-bottom: 1px solid #ddd;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 15px;
        white-space: nowrap;
        transition: all 0.2s ease;
        &:hover a {
          color: orange;
        }
        a {
          color: #333;
          display: block;
          width: 100%;
          // transition: color 0.1s linear;
        }
        &:hover .hoverActive1 {
          transform: rotate(180deg);
          transition: all 0.2s ease;
        }
        &:hover .more-menu-list {
          opacity: 1;
          visibility: visible;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          transition: all 0.2s ease;
        }
        .more-menu-list {
          position: absolute;
          top: 0;
          left: 101%;
          z-index: 1000;
          background-color: #fff;
          opacity: 0;
          visibility: hidden;
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          transition: all 0.25s ease;
          .more-menu-list1 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 0;
            border: 1px solid #ddd;
            .more-menu-item {
              padding: 10px 15px;
              border-bottom: 1px solid #ddd;
              min-height: 41px;
              &:hover a {
                color: orange;
                transition: all 0.25 ease;
              }
              a {
                color: #333;
              }
            }
          }
        }
      }
    }
    ::before {
      content: "";
      position: absolute;
      top: -10px;
      width: 100%;
      height: 20px;
      background: transparent;
    }
  }
}
//   navlink

.left0 {
  left: 0 !important;
  transition: all 0.25s ease;
}



.clip-path100 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  transition: all 0.25s ease-in-out;
}

.clickInput {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  .logo {
    margin: 10px 0;
  }
  .formInput {
    width: 60%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 4rem;
    // min-height: 40px;
    input {
      width: 100%;
      height: 100%;
      padding: 7px 10px;
      font-size: 1.5rem;
      border: 1px solid #ddd;
      outline: none;
      :focus {
        outline: 5px solid green;
      }
      ::placeholder {
        color: red;
        // font-size: 2.5rem;
        font-style: italic;
      }
    }
    button {
      border: 1px solid #ddd;
      border-left: 0;
      outline: none;
      padding: 5px 15px;
      background: white;
      height: 100%;
    }
  }
  .deleteIcon {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 1200px) {
  .active {
    // opacity: 1;
    // visibility: visible;
    display: block;
    // transform: translateY(0);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .nonActive {
    // opacity: 0;
    // visibility: hidden;
    display: none;
    // transform: translateY(100%);
    // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .fixed {
    position: fixed;
    top: 0;
    // left: -150%;
    left: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    z-index: 1000;
    width: 80% !important;
    height: 100vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;
    transition: all 0.25s ease;
    .flex-col {
      flex-direction: column;
      align-items: start !important;
      padding-left: 0;
      padding-top: 1rem;
      .nav--item {
        padding: 5px;
        width: 100%;
        // border-bottom: 1px solid #ddd;
        .sub-menu {
          position: relative !important;
          top: 0 !important;
          border: none !important;
          box-shadow: 0;
          opacity: 1;
          visibility: visible;

          .more-menu-list {
            position: relative;
            top: 0 !important;
            left: 0 !important;
            opacity: 1 !important;

            visibility: visible !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            .more-menu-list1 {
              border: none !important;
            }
          }
        }
      }
    }
    .fixed__close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }

    @include mobile {
      padding: 3rem;
    }
    @include tablet {
      padding: 3rem;
    }
  }
  #menu-nav::-webkit-scrollbar {
    width: 2px;
  }

  #menu-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  #menu-nav::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  #menu-nav::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.fixed__blur{
  @include tablet{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20% !important;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.25s ease;
    cursor: pointer;
  }
  @include mobile{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 20% !important;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10000;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.25s ease;
    cursor: pointer;
  }
}


.clip-path100-blur{
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  transition: all 0.25s ease-in-out;
}


