.sentEmail{
    background-color: #ffac4b;
    padding: 4rem 0;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet{
            flex-direction: column;
        }

        @include mobile {
             flex-direction: column;
        }
        
        &-title{
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        &-input{
            flex-grow: 1;
            text-align: right;
            display: flex;
            align-items: center; 
            justify-content: flex-end;
            height: 4.5rem;
            letter-spacing: 1rem;
            @include tablet {
                width: 100%;
            }
            @include mobile {
                width: 100%;
            }
            input{
                width: 80%;
                height:100%;
                padding: 0 0.8rem;
                border: 0;
                outline: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 1.3rem;
                color: #bcbcbc;
                &::placeholder{
                    font-size: 1.4rem;
                    color: #bcbcbc;
                }
            }
            button{
                width: 12%;
                border: 0;
                height: 100%;
                font-size: 2.5rem;
                text-transform: uppercase;
                // padding: 0 1rem;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: black;
                color: white;
                letter-spacing: 1px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}



.footer {
    background: #191919;
    color: white;
    padding: 5rem 0;
    &__block1{
        text-align: right;
        @include tablet{
            text-align: center;
        }
        @include mobile{
            text-align: center;
        }
        h1{
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
        }

        &-shop{
            margin-top: 2rem;
            font-size: 1.5rem;
            div{
                margin-bottom: 1.5rem;
                img{
                    margin-right: 7px;
                }
            }
        }
    }

    &__block2{
        text-align: center;
        h1{
            font-size: 5rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        p{
            padding: 0 5rem;
            font-size: 1.5rem;
            font-weight: 400;
        }

        &-shop{
            margin-top: 30px;
            &__icon{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                div{
                    width: 40px;
                    aspect-ratio: 1/1;
                    background-color: #fff;
                    color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                }
            }
        }
        
    }

    &__block3{
        @include tablet {
            text-align: center;
            margin-top: 10px;
            }
        
        @include mobile {
            text-align: center;
            margin-top: 10px;
            }
        h1{
            text-transform: uppercase;
             font-size: 1.8rem;
            font-weight: 700;
        }

        &-policy{
            font-size: 1.4rem;
            margin-top: 25px;
            div{
                margin-bottom: 1rem;
            }
        }
    }
}