.signin {
  background: #e3e7eb;
  padding: 5rem;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    &-body {
      width: 50%;
      margin: 3rem 0;
      @include tablet {
        width: 100%;
      }
      @include mobile {
        width: 100%;
      }
      &__form {
        width: 60% !important;
        h3 {
          font-size: 2.5rem;
          font-weight: 700;
        }
        p {
          font-size: 1.2rem;
          font-weight: 500;
          color: #b1b3b7;
        }
        &-email {
          label {
            display: block;
            font-size: 1.4rem;
            color: #333;
            font-weight: 600;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
            padding: 0.7rem 1.2rem;
            outline: 0;
            border: 1px solid #b1b3b7;
            border-radius: 5px;
            font-size: 1.3rem;
          }
        }
        &-firstname {
          margin-bottom: 20px;
          label {
            display: block;
            font-size: 1.4rem;
            color: #333;
            font-weight: 600;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
            padding: 0.7rem 1.2rem;
            outline: 0;
            border: 1px solid #b1b3b7;
            border-radius: 5px;
            font-size: 1.3rem;
          }
        }
        &-lastname {
          margin-bottom: 20px;
          label {
            display: block;
            font-size: 1.4rem;
            color: #333;
            font-weight: 600;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
            padding: 0.7rem 1.2rem;
            outline: 0;
            border: 1px solid #b1b3b7;
            border-radius: 5px;
            font-size: 1.3rem;
          }
        }
        &-password {
          margin-top: 20px;
          margin-bottom: 40px;

          label {
            display: block;
            font-size: 1.4rem;
            color: #333;
            font-weight: 600;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
            padding: 0.7rem 1.2rem;
            outline: 0;
            border: 1px solid #b1b3b7;
            border-radius: 5px;
            font-size: 1.3rem;
          }
        }
        &-problem {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__remember {
            display: flex;
            align-items: center;
            span {
              margin-left: 5px;
              font-size: 1.2rem;
              font-weight: 600;
              color: #333;
            }
          }
          &__forgot {
            span {
              font-size: 1.2rem;
              color: #333;
              font-weight: 600;
            }
          }
        }
        &-submit {
          display: block;
          width: 100%;
          padding: 1rem 0;
          outline: 0;
          border: 0;
          background: black;
          color: white !important;
          font-size: 1.5rem;
          border-radius: 8px;
        }
      }
      &__signup {
        margin-top: 10px;
        text-align: center;
        font-size: 1.3rem;
        span {
          color: black;
          font-weight: 600;
        }
      }
      &__google {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b1b3b7;
        padding: 1rem 0;
        width: 60%;
        margin: 0 auto;
        border-radius: 8px;
        margin-top: 20px;
        svg {
          font-size: 2.5rem;
        }
        span {
          font-size: 1.4rem;
          font-weight: 600;
          margin-left: 5px;
        }
      }
    }
    &-img {
      width: 50%;
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
}
