.colorAdmin {
  &__header {
    padding: 0 3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__add {
      display: flex;
      align-items: center;
      padding: 8px 20px;
      border: 2px solid #ff8400;
      border-radius: 10px 0 10px 0;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      h6 {
        margin: 0;
        margin-left: 10px;
        font-size: 14px;
        text-transform: none;
      }
    }
  }
  &__table {
    padding: 0 3rem;
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
