.cart {
  &__bg {
    background: url("https://bizweb.dktcdn.net/100/331/067/themes/823156/assets/bg_breadcrumb.png?1652595275360");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    svg {
      margin: 0 10px;
    }
    span {
      color: #ff8400;
    }
  }
  &__body {
    margin-bottom: 8rem;
    padding: 0 5rem;

    &-activeAll {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      input {
        cursor: pointer;
      }
      span {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &-title {
      font-size: 2rem;
      letter-spacing: 0.1rem;
      font-weight: 500;
      margin: 4rem 0;
    }
    &-listCart {
      &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        &-img {
          width: 20%;
          aspect-ratio: 1/1;
          // @include mobile {
          //   width: 10%;
          // }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-des {
          width: 45%;
          //   border: 1px solid #ddd;
          font-size: 1.6rem;
          text-transform: uppercase;
          text-align: center;
          display: flex !important;
          align-items: center;
          justify-content: space-between;
          @include tablet {
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            text-align: left;
          }
          @include mobile {
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            text-align: left;
          }

          .title__des {
            // @include minResponsive(extra-large) {
            //   display: flex;
            // }
            @include maxResponsive(extra-large) {
              display: none;
            }
            text-align: left;

            .des__colors {
              font-size: 10px;
              font-weight: 500;
              display: flex;
              align-items: center;
              margin-bottom: 2px;

              span {
                width: 20px;
                height: 12px;
                display: inline-block;
                margin-left: 5px;
                border-radius: 2px;
                border: 1px solid #ff8400;
              }
            }
            .des__sizes {
              font-size: 10px;
              font-weight: 500;
            }
          }
          h4 {
            width: 70%;
            margin: 0 !important;
            @include minResponsive(extra-large) {
              display: none;
            }
          }
          .des__color {
            font-size: 10px;
            font-weight: 500;
            display: flex;
            align-items: center;
            @include minResponsive(extra-large) {
              display: none;
            }
            span {
              width: 20px;
              height: 12px;
              display: inline-block;
              margin-left: 5px;
              border-radius: 2px;
              border: 1px solid #ff8400;
            }
          }
          .des__size {
            font-size: 10px;
            font-weight: 500;
            @include minResponsive(extra-large) {
              display: none;
            }
          }

          &__price {
            width: 30%;
            color: #ff8400;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: lowercase;
            // @include minResponsive(extra-large) {
            //   margin-left: 50px;
            // }
            // @include maxResponsive(extra-large) {
            //   margin-left: 0px;
            // }
          }
        }

        &-qty {
          width: 25%;
          //   border: 1px solid #ddd;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mobile {
            flex-direction: column;
          }
          &__quantity {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile {
              margin-bottom: 5px;
            }
            div {
              padding: 1px 10px;
              border: 1px solid rgb(243, 241, 241);
              font-size: 1.4rem;
              cursor: pointer;
              &:nth-child(2) {
                padding: 0px;
              }
            }
            input {
              padding: 1px 0;
              border: none;
              outline: none;
              width: 30px;
              text-align: center;
            }
          }
          &__delete {
            width: 30%;
            //   border: 1px solid #ddd;
            text-align: center;
            font-size: 2rem;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mobile {
        flex-direction: column-reverse;
      }
      &__continue {
        border: none;
        background-color: #f8f8f8;
        padding: 10px 35px;
        height: fit-content;
        font-size: 1.6rem;
        color: #333;
        white-space: nowrap !important;
        @include mobile {
          width: 100%;
          display: block;
        }
        &:hover {
          background-color: #ffac4b;
          color: #fff !important;
          transition: all 0.25s;
        }
      }
      &__payment {
        text-align: right;
        h6 {
          font-size: 1.8rem !important;
          font-weight: 400;
          margin: 20px 0;
          span {
            color: #ff8400;
            font-weight: 600;
          }
        }
        button {
          background-color: #ffac4b;
          padding: 1rem 15rem;
          font-size: 1.6rem;
          color: #fff !important;
          border: 0;
          margin-top: 15px;
          white-space: nowrap;
          text-align: center;
          opacity: 0.8;
          cursor: not-allowed;
          @include maxResponsive(small-down) {
            padding: 1rem 0;
          }
          &.active {
            opacity: 1;
            cursor: pointer;
          }
          @include mobile {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
          // &:hover {
          //   opacity: 0.8;
          //   transition: all 0.25s;
          // }
        }
      }
    }
  }
}
