@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "react-toastify/dist/ReactToastify.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffad4b;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.box {
  padding: 5px;
}
.boxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxDes h1 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.boxDes h2 {
  font-size: 13px;
  font-weight: 400;
  color: #ddd;
  margin-top: 10px;
}

body {
  height: 10000;
}

body.disable-scroll {
  overflow-y: hidden;
}

.loadingHome {
  position: fixed;
  inset: 0;
  z-index: 99999999;
  background-color: #fff;
}
